<h1>食事記録の登録</h1>
<%= form_with model: @record, local: true, html: { multipart: true } do |f| %>
  <div>
    <%= f.label :eaten_on, "日付" %><br>
    <%= f.date_field :eaten_on %>
  </div>

  <div class="field">
  <%= f.label :slot, "区分" %><br>
  <%= f.select :slot,
               MealRecord.slots.keys.map { |s| [I18n.t("activerecord.enums.meal_record.slot.#{s}"), s] },
               { include_blank: "選択してください" },
               required: true %>
  </div>

  <div>
    <%= f.label :text, "食事内容（テキスト）" %><br>
    <%= f.text_area :text, placeholder: "例）ごはん１杯、味噌汁（豆腐）１杯、鯖の塩焼き１切れ" %>
  </div>

  <div>
    <%= f.label :photo, "写真（JPG/PNG・5MBまで）" %><br>
    <%= f.file_field :photo, accept: "image/jpeg,image/png" %>
  </div>

  <div style="margin-top:8px">
    <%= f.submit "登録する" %>
  </div>
<% end %>