<h1>食事記録詳細</h1>
<p>日付：<%= @record.eaten_on %></p>
<p>区分：<%= @record.slot %></p>
<p>内容：<%= simple_format(@record.text) %></p>
<p>備考：<%= simple_format(@record.note) %></p>

<div>
  <%= link_to "編集", edit_meal_record_path(@record), class: "btn" %>
  <%= link_to "この日の一覧へ戻る", meal_records_path(date: @record.eaten_on) %>
</div>