<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="theme-color" content="#2c5e46" />
    <title><%= content_for?(:title) ? yield(:title) : "Meal Support App" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="page-container">
    <%= yield %>
    </div>
    <% unless defined?(hide_tabbar) && hide_tabbar %>
      <%= render "shared/tabbar" %>
    <% end %>
  </body>
</html>
